# R Programming: Quiz 3

## Imports

In [1]:
suppressPackageStartupMessages(library(datasets))
suppressPackageStartupMessages(library(tidyverse))
suppressPackageStartupMessages(library(R.utils))

## `iris` Dataset

In [2]:
data(iris)
head(iris)

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 5.1          3.5         1.4          0.2         setosa
2 4.9          3.0         1.4          0.2         setosa
3 4.7          3.2         1.3          0.2         setosa
4 4.6          3.1         1.5          0.2         setosa
5 5.0          3.6         1.4          0.2         setosa
6 5.4          3.9         1.7          0.4         setosa

## Question 1

In [3]:
# Solution using base R:
iris_virginica <- iris[iris[["Species"]] == "virginica", 1:4]
mean_sepal_length <- apply(iris_virginica, 2, mean)[["Sepal.Length"]]
R.utils::printf("Mean of Sepal.Length = %.3f\n", mean_sepal_length)
R.utils::printf("Rounded Mean of Sepal.Length = %d", round(mean_sepal_length))

Mean of Sepal.Length = 6.588
Rounded Mean of Sepal.Length = 7

In [4]:
# Solution using the `tidyverse` library:
iris_virginica <- iris %>%
    dplyr::filter(Species == "virginica") %>%
    dplyr::select(!c(Species))
mean_sepal_length <- dplyr::summarise(
    iris_virginica,
    mean = mean(Sepal.Length)
)[[1, 1]]
R.utils::printf("Mean of Sepal.Length = %.3f\n", mean_sepal_length)
R.utils::printf("Rounded Mean of Sepal.Length = %d", round(mean_sepal_length))

Mean of Sepal.Length = 6.588
Rounded Mean of Sepal.Length = 7

## Question 2

In [5]:
# Correct answer:
apply(iris[, 1:4], 2, mean)

Sepal.Length  Sepal.Width Petal.Length  Petal.Width
    5.843333     3.057333     3.758000     1.199333

In [6]:
# Get the same result using the `tidyverse` library:
iris %>%
    dplyr::select(!c(Species)) %>%
    dplyr::summarise(
        Sepal.Length = mean(Sepal.Length),
        Sepal.Width = mean(Sepal.Width),
        Petal.Length = mean(Petal.Length),
        Petal.Width = mean(Petal.Width)
    )

  Sepal.Length Sepal.Width Petal.Length Petal.Width
1 5.843333     3.057333    3.758        1.199333

## `mtcars` Dataset

In [7]:
data(mtcars)
head(mtcars)

                  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4         21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag     21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
Datsun 710        22.8 4   108   93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive    21.4 6   258  110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2
Valiant           18.1 6   225  105 2.76 3.460 20.22 1  0  3    1

## Question 3

In [8]:
# Solution using the `tapply` function:
tapply(mtcars$mpg, mtcars$cyl, mean)

       4        6        8
26.66364 19.74286 15.10000

In [9]:
# Solution using the `with` and `tapply` functions:
with(mtcars, tapply(mpg, cyl, mean))

       4        6        8
26.66364 19.74286 15.10000

In [10]:
# Solution using the `sapply` and `split` functions:
sapply(split(mtcars$mpg, mtcars$cyl), mean)

       4        6        8
26.66364 19.74286 15.10000

## Question 4

In [11]:
avg_hp <- tapply(mtcars$hp, mtcars$cyl, mean)
abs_diff <- abs(avg_hp[["4"]] - avg_hp[["8"]])
R.utils::printf("Absolute Difference = %f\n", abs_diff)
R.utils::printf("Rounded Absolute Difference = %d", round(abs_diff))

Absolute Difference = 126.577922
Rounded Absolute Difference = 127